<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Previous Orders</h1>

    <table border="1" align="center">


        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Review</th>
        </tr>

        {% for x in data %}

            <tr>
                <td>{{ x.product.name }}</td>
                <td><img src="{{ x.product.image.url }}" height="350px" width="350px" alt=""></td>
                <td>{{ x.quantity }}</td>
                <td>{{ x.total_price }}</td>
                <td><a href="/create_review/{{ x.product.id }}">Add Review</a></td>
            </tr>


        {% endfor %}

    </table>

</body>
</html>